<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
	body {
    background: #111 url("https://wallpapercave.com/wp/wp7661137.jpg") repeat 0 0;
}
</style>
</head>
<div class="container">
<h2 style="margin-top: 40px">THANKS FOR ENQUIRY, </h2>
<h3 style="margin-left: 150px">Will Contact you soon..</h3></div>
<form method="get" action="/">
    <button type="submit" class="btn btn-primary" style="margin-top: 30px;margin-left: 350px">Home</button>
</form>